In [4]:
import pandas as pd
import numpy as np

# creating a dictionary

dictionary = {'NAME': ['Adnan', 'Adam' , 'Aiyaz' , 'Saksham', 'Anirudh' , 'Gopal' , 'Sakwik', 'Monu' , 'Bunty', 'Bubly'], 'AGE': [25 , 28 , np.nan , 41, 18,41, 15,45,18,17],'STATE':['AP','UP','Goa','JH','Bihar','TN',np.nan,'UP','MP','JH'],'GENDER':['M','M','F','F','T','F','T','M','F','T'],'MOBILE':['Nokia','MI','Apple','Samsung','Redmi','Mi','Oneplus','Apple','Samsung','Oppo']}

# Create a pandas dataframe

In [5]:
# Create a pandas dataframe

df = pd.DataFrame(dictionary)

In [6]:
df

      NAME   AGE  STATE GENDER   MOBILE
0    Adnan  25.0     AP      M    Nokia
1     Adam  28.0     UP      M       MI
2    Aiyaz   NaN    Goa      F    Apple
3  Saksham  41.0     JH      F  Samsung
4  Anirudh  18.0  Bihar      T    Redmi
5    Gopal  41.0     TN      F       Mi
6   Sakwik  15.0    NaN      T  Oneplus
7     Monu  45.0     UP      M    Apple
8    Bunty  18.0     MP      F  Samsung
9    Bubly  17.0     JH      T     Oppo

In [7]:
#Check the info of 'df'
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NAME    10 non-null     object
 1   AGE     9 non-null      float64
 2   STATE   9 non-null      object
 3   GENDER  10 non-null     object
 4   MOBILE  10 non-null     object
dtypes: float64(1), object(4)
memory usage: 528.0+ bytes

In [9]:
#Check the descriptive statistics of 'df'
df.describe()

             AGE
count   9.000000
mean   27.555556
std    11.854441
min    15.000000
25%    18.000000
50%    25.000000
75%    41.000000
max    45.000000

In [11]:
#check the 4th index observation with 'loc' slicing operator.
df.loc[4]

NAME      Anirudh
AGE          18.0
STATE       Bihar
GENDER          T
MOBILE      Redmi
Name: 4, dtype: object

In [12]:
#Check the null values in your 'df'
df.isnull()

    NAME    AGE  STATE  GENDER  MOBILE
0  False  False  False   False   False
1  False  False  False   False   False
2  False   True  False   False   False
3  False  False  False   False   False
4  False  False  False   False   False
5  False  False  False   False   False
6  False  False   True   False   False
7  False  False  False   False   False
8  False  False  False   False   False
9  False  False  False   False   False

In [13]:
df.isnull().any()

NAME      False
AGE        True
STATE      True
GENDER    False
MOBILE    False
dtype: bool

In [14]:
df.isnull().sum()

NAME      0
AGE       1
STATE     1
GENDER    0
MOBILE    0
dtype: int64